body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #db9ddf;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
